*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
}

.button_container{
	display: flex;
	justify-content: center;
	align-items: center;
}
main{
	display: flex;
	justify-content: center;
	height: 600px;
	width: 1024px;
	background-color: #eeeeee;
}

button {
	background-color:#4f0007;
	border-radius:16px;
	cursor:pointer;
	color:#dddddd;
	font-size:32px;
	height: 150px;
    width: 250px;
}


.index_lp_1{
	background-color: #dddddd;
	height: 240px;
	width: 400px;
	justify-content: center;
	align-items: center;
	display: flex;
}
.index_lp_2{
	height: 240px;
	width: 400px;
	justify-content: start;
	align-items: center;
	display: flex;
	font-size: 40px;
}
.main_container{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 60px;
}
.container{
	display: flex;
	gap: 4rem;
	margin-bottom: 4rem;
}


.menu_container{
	display: flex;
	flex-direction: column;
	gap: 20px;
}