@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --def-theme-color: #800;
    --def-color: #444;
    --def-font:  'Poppins','sans-serif';
    --def-transition: cubic-bezier(.32,.11,.45,.99) 200ms;
    --def-gradient-form: linear-gradient(180deg,#ffffff 80%, #ffd1d1 100%);
    --hover: rgb(164, 15, 15);
    --box-shadow: -8px -48px 60px -40px rgba(0,0,0,0.12);
    --input-blur-color: rgba(0, 0, 0, 0.365);
    --input-box-shadow: 3px 10px 25px 0px rgba(75, 78, 108, 0.582);
    --input-transition: cubic-bezier(.2,.55,.23,.99) 500ms;
    --background-blur-color: rgba(206, 206, 206, 0.546);
    --background-blur-amount: blur(5px);
    --background-box-shadow: 10px 20px 3em 0px rgba(112, 118, 162, 0.352);
    --background-border-radius: 2em;
    --top-background-border-radius: 2em 2em 0 0;
    --top-background-linear-gradient: linear-gradient(58deg,#990606 0%, #b60000 80%);
}

html {
    font-family: var(--def-font);
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
}

main {
    position: absolute;
    height: 100%;
    height: 100svh;
    width: 100%;
	background-color: #ffd1d1;
    overflow-y: auto;
}

h1 {
    font-family: var(--def-font);
}

button {
    background: var(--def-theme-color);
    height: 11rem;
    width: 18rem;
	font-size: 1rem;
    border: none;
	border-radius: 2rem;
    margin: 1rem;
	cursor:pointer;
	color:#dddddd;
    box-shadow: var(--box-shadow);
    font-family: var(--def-font);
    font-weight: 500;
    transition: var(--def-transition);
}

input, select {
    font-size: 1rem;
    font-family: var(--def-font);
    font-weight: 600;
}

button:hover {
    background: var(--hover);
    transform: translateY(-1px) scale(1.01);
    color: #fffcfc;
}

.main_container {
    display: grid;
    position: relative;
    margin: auto;
    height: 100%;
    max-width: 100rem;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.main-menu {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: auto;
    margin-top: 14vh;
}

.main-menu h2, .main-menu p {
    margin: 0 0 2rem 3vw;
}

.main-menu h2 {
    margin-bottom: 0;
}

.menu_container {
    display: flex;
    position: relative;
    background: var(--def-gradient-form);
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 2rem 2rem 0 0 ;
    box-shadow: var(--box-shadow);
    margin: auto;
    height: min-content;
    width: min-content;
    min-width: 50vw;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.waiting-container {
    position: relative;
    background: var(--def-gradient-form);
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 2rem 2rem 0 0 ;
    box-shadow: var(--box-shadow);
    margin: 4rem auto auto auto;
    height: min-content;
    width: 60vw;
    text-align: center;
}

.main_container button {
    font-size: 2rem;
}

.menu_container button {
    height: 10rem;
    width: 16rem;
    padding: 1rem;
}

.main_container button {
    grid-area: 1/2/3/3;
}

.main_container h1 {
    font-family: var(--def-font);
    text-align: center;
}

.main_container img {  /* use width: 100%; when it has parent*/
    width: 20rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: min-content;
    width: 85%;
    max-width: 25rem;
    position: relative;
    align-content: space-evenly;
    margin: auto;
    font-family: var(--def-font);
}

.login-form form[id="login"], 
.login-form form[id="register"] {
    display: flex;
    background: var(--def-gradient-form);
    flex-direction: column;
    justify-items: center;
    align-content: space-evenly;
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 2rem 2rem 0 0 ;
    box-shadow: var(--box-shadow);
}

.floating-register form[id="register"],
.floating-register form[id="update_user"] {
    display: flex;
    background: white;
    flex-direction: column;
    justify-items: center;
    align-content: space-evenly;
    padding: 2rem;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
}

.floating-register button {
    height: 3em;
    width: 8rem;
    margin: 1rem 0 0 0;
}


.login-form form[id="login"] input, 
.login-form form[id="register"] input,
.login-form form[id="register"] select,
.floating-register form[id="register"] input,
.floating-register form[id="register"] select,
#health-form input[type="text"] {
    height: 2rem;
    border: none;
    background: #f0ecec;
    border-radius: 0.5rem;
    padding: 0 .5rem 0 .5rem;       
    transition: var(--def-transition);
}

.floating-register h1, 
.login-form h1 {
    margin-left: 1.5rem;
}

.login-form button {
    height: 3em;
    width: 8rem;
    margin: 0.5rem 0 0 0;
}

.login-form button + button {
    background: none;
    color: #444;
    height: 3em;
    width: max-content;
}

.login-form button + button:hover {
    text-decoration: underline;
    transform: none;
}
#overlay {
    background: #eaeaeac9;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}

#health-form {
    display: flex;
    flex-direction: column;
    background: white;
    height: min-content;
    width: 50vw;
    margin: auto;
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 2rem ;
    box-shadow: var(--box-shadow);
}

#health-form label,
#health-form div {
    margin: .75rem 0 0 0;
}

#health-form h3 {
    margin: 2rem 0 0 0;
}

#health-form h4 {
    margin: .5rem 0 0 0;
}

#health-form input[type="submit"] {
    background: var(--def-theme-color);
    height: 2.5em;
    width: 6rem;
	font-size: 1rem;
    border: none;
	border-radius: 2rem;
    margin: .25rem;
	cursor:pointer;
	color:#dddddd;
    box-shadow: var(--box-shadow);
    font-family: var(--def-font);
    font-weight: 500;
    transition: var(--def-transition);
}

.form-header {
    margin: 3rem 1rem 1rem 24rem;
}

.record-header {
    margin: 3rem 1rem 1rem 20rem;
}

.floating-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    overflow-y: auto;
    display: none;
}

.floating-register {
    display: flex;
    margin: auto;
    margin-top: 5vh;
    flex-direction: column;
    justify-items: center;
    height: min-content;
    width: 85%;
    max-width: 25rem;
    align-content: space-evenly;
    font-family: var(--def-font);
    pointer-events: all;
}

.logout-button-a {
    position: absolute;
    display: block;
    /* padding: 1rem 0 0 0; */
    text-decoration: none;
    text-align: center;
    /* background: var(--def-theme-color); */
    /* height: 2.5em;
    width: 7em; */
    font-size: 1rem;
    font-weight: 800;
    border: none;
    border-radius: 2rem;
    margin: 1rem;
    cursor: pointer;
    color: #313131;
    /* box-shadow: var(--box-shadow);
    font-family: var(--def-font); */
    transition: var(--def-transition);
    z-index: 1;
}

.logout-button-a:hover {
    text-decoration: underline;
}

.records-table {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: min-content;
    width: 92vw;
    min-width: 25rem;
    position: relative;
    align-content: space-evenly;
    margin: auto;
    margin-top: 11vh;
    text-align: left;
    font-family: var(--def-font);
}

.records-table form button {
    height: 3em;
    width: 6em;
    margin: 0 0 0 1rem;
}

.records-table form button:last-of-type {
    width: 8em;
}

.records-table table {
    background: var(--def-gradient-form);
    width: 100%;
    height: min-content;
    margin: 2rem 0 0 0;
    padding: 1.5rem 1rem 3rem 1rem;
    border-radius: 2rem 2rem 0 0;
    box-shadow: var(--box-shadow);
}

.records-table input {
    height: 3.5em;
    width: 50%;
    max-width: 25rem;
    margin: 0;
    border: none;
    background: #ffffff;
    border-radius: 1rem;
    padding: 0 .5rem 0 .5rem;
    transition: var(--def-transition);
    
}

.records-table th,
.records-table td {
    padding: 0 1rem 0 .5rem ;
}

.records-table th:nth-child(2n),
.records-table td:nth-child(2n) {
    background-color: #ffd1d1;
}

.records-table table[class="queue_card"] button {
    height: 3rem;
    width: 10rem;
}

.measurement-container {
    background: var(--def-gradient-form);
    display: flex;
    flex-direction: column;
    height: min-content;
    width: 85vw;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem 1rem 4rem 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 2rem 2rem 0 0 ;
    justify-items: center;
    align-items: center;
}

.measurement-container > div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin: 1rem;
}

.measurement-container img {
    width: auto;
    height: 10rem;
}

.measurement-container h1 {
    margin: 1rem 2rem 1rem 2rem;
}

.measurement-container h2 {
    margin: 1rem 2rem 1rem 2rem;
    font-size: 1.75rem;
}

.measurement-container h3 {
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem;
}

.metrics-container {
    background: var(--def-gradient-form);
    display: grid;
    height: min-content;
    width: 85vw;
    max-width: 40rem;
    margin: auto;
    margin-top: 3rem;
    padding: 1.5rem 1rem 4rem 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 2rem 2rem 0 0 ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.metrics-container h2 {
    text-align: right;
    margin: 0 .75rem 0 .75rem;
}

.metrics-container h1 {
    margin: 0 .75rem 0 .75rem;
}

.metrics-container button,
.measurement-container button {
    height: 4rem;
    /* width: 8rem; */
    margin: 1rem;
}

.metrics-container div,
.measurement-container div {
    display: flex;
    justify-content: space-between;
    width: 60vw;

}

.metrics-container p,
.measurement-container p {
    font-size: 1.5rem;
    font-weight: 700;

}

.admin-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: min-content;
    width: 95vw;
    max-width: 65rem;
    position: relative;
    align-content: space-evenly;
    margin: auto;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
}

.admin-menu {
    grid-area: 2/1/3/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--def-gradient-form);
    justify-items: center;
    justify-content: center;
    align-content: space-evenly;
    padding: 2rem 2rem 5rem 2rem;
    border-radius: 2rem 2rem 0 0;
    box-shadow: var(--box-shadow);
}

.admin-menu button {
    height: 9rem;
    width: 90%;
    border-radius: 1.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
}

.admin-container h1 {
    margin-left: 2rem;
    grid-area: 1/1/2/2;
}
.admin-container a {
    grid-area: 1/2/2/3;
    text-align: right;
    text-decoration: none;
    font-weight: 800;
    margin: 0 3rem 1rem 0;
}

.admin-container a:hover {
    text-decoration: underline;
}
.electronic-health-record {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 11vh;
}

.electronic-health-record > div {
    display: flex;
    background: var(--def-gradient-form);
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 2rem 2rem 0 0 ;
    box-shadow: var(--box-shadow);
    flex-direction: column;
    justify-items: center;
    height: min-content;
    width: 85%;
    max-width: 25rem;
    position: relative;
    align-content: space-evenly;
    margin: 2%;
    margin-top: 0;
    font-family: var(--def-font);
}

.policy-container, .assessment-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--def-gradient-form);
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 2rem 2rem 0 0 ;
    box-shadow: var(--box-shadow);
    margin: auto;
    margin-top: 15vh;
    height: min-content;
    width: max-content;
    align-items: center;
}

.assessment-container h3 {
    margin: 0 0 0.5rem 0;
}

.policy-container div {
    display: flex;
}
.policy-container input {
    margin: 1rem;
}

.policy-container button,
.assessment-container button,
.dialog-box button,
#priority button,
.card button{
    height: 4rem;
    width: 14rem;
}

.dialog-box {
    display: none;
    position: relative;
    margin-top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: max-content;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1;
}

.discomfort-container {
    display: flex;
    position: relative;
    background: var(--def-gradient-form);
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 2rem 2rem 0 0 ;
    box-shadow: var(--box-shadow);
    margin: auto;
    height: min-content;
    width: max-content;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.discomfort-container input[type="submit"] {
    background: var(--def-theme-color);
    height: 4rem;
    width: 100%;
	font-size: 1rem;
    border: none;
	border-radius: 2rem;
	cursor:pointer;
	color:#dddddd;
    box-shadow: var(--box-shadow);
    font-family: var(--def-font);
    font-weight: 500;
    transition: var(--def-transition);
}

.center-p {
    height: max-content;
    text-align: center;
    padding: 1rem 0 1rem 0;
    width: 90%;
    margin: auto;
}

#priority {
    background: var(--def-gradient-form);
    display: flex;
    height: min-content;
    font-size: 1.2rem;
    width: 85vw;
    max-width: 40rem;
    margin: auto;
    margin-top: 3rem;
    padding: 1.5rem 2rem 4rem 2rem ;
    box-shadow: var(--box-shadow);
    border-radius: 2rem 2rem 0 0 ;
    justify-items: start;
    align-items: center;
}

.card {
    background: white;
    display: flex;
    height: min-content;
    font-size: 1.2rem;
    width: 85vw;
    max-width: 40rem;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
    align-items: center;
    justify-content: space-evenly;
}

.card > .card-body > p, .card > .card-body > h3 {
    margin-left: 1rem;
}

#backToPreviousPage {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

/* ----------- Hover & Focus effects Input ----------- */
.login-form form[id="login"] input:hover, 
.login-form form[id="register"] input:hover,
.login-form form[id="register"] select:hover,
.records-table input:hover {
    box-shadow: 0 .5rem 1rem rgba(164, 171, 232, 0.25);;
}

.login-form form[id="login"] input:focus, 
.login-form form[id="register"] input:focus,
.login-form form[id="register"] select:focus,
.records-table input:focus {
    box-shadow: none;
}

#health-record {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#health-record p {
    margin: 0;
}

#health-record label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

#health-record span {
    font-weight: normal;
}

.section-title {
    grid-column: span 2;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.full-width {
    grid-column: span 2;
}

 /* ----------------------------------- *\
/* ----------- MEDIA QUERIES ----------- *\
\* ------------------------------------- */

@media (orientation: portrait)  {
    .main_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .admin-menu {
        flex-direction: column;
    }

    .admin-menu button {
        height: 11rem;
        width: 90%;
    }

    .electronic-health-record {
        flex-direction: column;
    }
}

/* ----------- QHD SCREEN ----------- */
@media (orientation: portrait) and (min-height: 1000px) {
    .main_container button {
        height: 15rem;
        width: 21rem;
        font-size: 2.5em;
    	border-radius: 2.5rem;
    }

    .main_container img {
        width: 30rem;
    }

    .main_container p {
        font-size: 3em;
    }
    
    .menu_container button {
        height: 15rem;
        width: 21rem;
        font-size: 1.5em;
    	border-radius: 2.5rem;
    }
}

@media (orientation: landscape) and (min-width: 1440px) {
    .main_container, .menu_container {
        max-width: 150rem;
    }

    .main_container button {
        height: 15rem;
        width: 21rem;
        font-size: 2.5em;
    	border-radius: 2.5rem;
    }

    .main_container img {
        width: 30rem;
    }

    .main_container p {
        font-size: 3em;
    }
    
    .menu_container button {
        height: 15rem;
        width: 21rem;
        font-size: 1.5em;
    	border-radius: 2.5rem;
    }
}

/* ----------- 4K ----------- */
@media (orientation: portrait) and (min-height: 2000px) {
    .main_container button {
        height: 20rem;
        width: 26rem;
        font-size: 2.25em;
    	border-radius: 3rem;
    }

    .main_container img {
        width: 40rem;
    }

    .main_container p {
        font-size: 4em;
    }

    .menu_container button {
        height: 20rem;
        width: 26rem;
        font-size: 2.25em;
    	border-radius: 3rem;
    }
}

@media (orientation: landscape) and (min-width: 2560px) {
    .main_container, .menu_container {
        max-width: 200rem;
    }

    .main_container button {
        height: 20rem;
        width: 26rem;
        font-size: 2.25em;
    	border-radius: 3rem;
    }

    .main_container img {
        width: 40rem;
    }

    .main_container p {
        font-size: 4em;
    }

    .menu_container button {
        height: 20rem;
        width: 26rem;
        font-size: 2.25em;
    	border-radius: 3rem;
    }
}

/* ----------------- FOR TABLE ---------------- */

@media (max-width: 800px) {
    .menu_container button {
        height: 9rem;
        width: 13rem;
        margin: .5rem;
        font-size: 1rem;
        border-radius: 1.5rem;
    }

    .records-table th,
    .records-table td {
        font-size: 65%;
    }

    .records-table table {
        border-radius: 1.5rem 1.5rem 0 0;
        margin-top: 1.5rem;
    }

    .records-table h1 {
        font-size: 1.5rem;
    }

    .records-table button,
    .records-table input {
        font-size: 0.75rem;
    }

    .records-table form button{
        margin-left: 1rem;
    }

    .records-table table[class="queue_card"] button {
        height: 2rem;
        width: 7rem;
        font-size: .75rem;
    }
}

@media (max-width: 550px) {
    .records-table th,
    .records-table td {
        font-size: 50%;
    }

    .records-table table {
        border-radius: 1rem .5rem 0 0;
        margin-top: 1rem;
    }

    .records-table h1 {
        font-size: 1rem;
    }
    
    .records-table button,
    .records-table input {
        font-size: 0.5rem;
    }

    .records-table form button{
        margin-left: 0.5rem;
    }

}
@media (max-width: 25rem) {
    .records-table h1,
    .records-table input {
        margin-left: 1rem;
    }
}